<!DOCTYPE HTML>

<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
   <meta charset="UTF-8"/>
  <title>Withdrawal: [%id%] ([%title%])</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="author" content="https://nictiz.nl"/>

  <link href="https://ig.nictiz.nl/assets-hist/fhir.css" rel="stylesheet"/>

    <!-- Bootstrap core CSS -->
  <link href="https://ig.nictiz.nl/dist-hist/css/bootstrap.css" rel="stylesheet"/>
  <link href="https://ig.nictiz.nl/assets-hist/css/bootstrap-fhir.css" rel="stylesheet"/>

    <!-- Project extras -->
  <link href="https://ig.nictiz.nl/assets-hist/css/project.css" rel="stylesheet"/>
  <link href="https://ig.nictiz.nl/assets-hist/css/pygments-manni.css" rel="stylesheet"/>
  <link href="https://ig.nictiz.nl/assets-hist/jquery-ui.css" rel="stylesheet"/>

    <!-- Favicons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://ig.nictiz.nl/assets-hist/ico/apple-touch-icon-144-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://ig.nictiz.nl/assets-hist/ico/apple-touch-icon-114-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://ig.nictiz.nl/assets-hist/ico/apple-touch-icon-72-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" href="https://ig.nictiz.nl/assets-hist/ico/apple-touch-icon-57-precomposed.png"/>
  <link rel="shortcut icon" href="https://ig.nictiz.nl/assets-hist/ico/favicon.png"/>
  <script type="application/javascript" src="https://ig.nictiz.nl/assets-hist/history-cm.js"> </script>
  <script type="application/javascript" src="https://ig.nictiz.nl/assets-hist/history.js"> </script>
  <link href="https://ig.nictiz.nl/assets-hist/history.css" rel="stylesheet"/>
</head>

<body>
	<div id="segment-header" class="segment">  <!-- segment-header -->	
		<div class="container">  <!-- container -->
   <a id="logo" no-external="true" href="https://ig.nictiz.nl"><img src="https://ig.nictiz.nl/assets/images/nictiz-logo.png" alt="logo Nictiz" width="125"/></a>
<!--<div>
<a id="hl7-logo" no-external="true" href="http://www.hl7.org">
     <img alt="visit the hl7 website" width="42" height="50" src="https://ig.nictiz.nl/assets-hist/images/hl7-logo.png"/>
    </a>
			</div>-->       	
		  <div id="ig-status" style="font-size:24px;padding-top: 20px;margin-left: 150px;">
        <b id="ig-title">[%title%]</b>
			</div>       	
		</div>
		<div class="container">  <!-- container -->
	</div></div>  <!-- /segment-header -->	


	<div id="segment-navbar" class="segment">  <!-- segment-navbar -->
		<div id="stripe"> </div>
		<div class="container">  <!-- container -->
   <!-- HEADER CONTENT -->
 	      		
			<nav class="navbar navbar-inverse">
				<div class="container">
					<button data-target=".navbar-inverse-collapse" class="navbar-toggle" data-toggle="collapse" type="button">
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
					</button>
     <a class="navbar-brand hidden" href="https://ig.nictiz.nl/index.html">Nictiz</a>
					<div class="nav-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
              <li><a href="[%history%]">History</a></li>
            </ul>

					</div>  <!-- /.nav-collapse -->
				</div>  <!-- /.container -->
			</nav>  <!-- /.navbar -->
      		
  <!-- /HEADER CONTENT -->				
		</div>  <!-- /container -->
	</div>  <!-- /segment-navbar -->
	


  <!-- ============BreadCrumb=============== -->

  </div>  <!-- /container -->
 </div>  <!-- /segment-breadcrumb -->

	<div id="segment-content" class="segment">  <!-- segment-content -->
	<div class="container">  <!-- container -->
            <div class="row">
            	<div class="inner-wrapper">


<div class="col-12">

<h2>Withdrawal Notice: [%id%] ([%title%])</h2>

<p>[%notice%]</p>

[%desc%]

</div>

    </div>  <!-- /inner-wrapper -->
            </div>  <!-- /row -->
        </div>  <!-- /container -->

    </div>  <!-- /segment-content -->


    
</div>

				</div>  <!-- /inner-wrapper -->
            </div>  <!-- /row -->
        </div>  <!-- /container -->
        
    </div>  <!-- /segment-content -->


	<div id="segment-footer" class="segment">  <!-- segment-footer -->
		<div class="container">  <!-- container -->
			<div class="inner-wrapper">
				<p>
          <span id="ig-footer">[%id%]: [%title%] </span> &reg;&copy; <a style="color: #81BEF7" href="https://nictiz.nl">Nictiz</a> |
				  <!--  <a style="color: #81BEF7" rel="license"  <href="../license.html"><img style="border-style: none;" alt="CC0" src="https://ig.nictiz.nl/assets-hist/cc0.png"/></a> -->
				  <a style="color: #81BEF7" rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/"><img style="border-style: none;" alt="CC0" src="https://ig.nictiz.nl/assets-hist/cc0.png"/></a>
        </p>
			</div>  <!-- /inner-wrapper -->
		</div>  <!-- /container -->
	</div>  <!-- /segment-footer -->
  <!-- disqus thread -->
  <!-- disqus -->
  <!-- end disqus -->        
	
	<div id="segment-post-footer" class="segment hidden">  <!-- segment-post-footer -->
		<div class="container">  <!-- container -->
		</div>  <!-- /container -->
	</div>  <!-- /segment-post-footer -->
    
      <!-- JS and analytics only. -->
      <!-- Bootstrap core JavaScript
================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
<script src="https://ig.nictiz.nl/assets-hist/js/jquery.js"> </script>     <!-- note keep space here, otherwise it will be transformed to empty tag -> fails -->
<script src="https://ig.nictiz.nl/dist-hist/js/bootstrap.min.js"> </script>
<script src="https://ig.nictiz.nl/assets-hist/js/respond.min.js"> </script>

<script src="https://ig.nictiz.nl/assets-hist/js/fhir.js"> </script>

  <!-- Analytics Below
================================================== -->

</body>
</html>

